<!DOCTYPE html>
<html>
   <head>
	   <title>Code Share: Share your codes ADMIN!</title>
   </head>
   <style>table,
td {
    border: 1px solid #333;
    width: 800px;
    text-align: center;
}

thead,
tfoot {
    background-color: cadetblue;
    color: #fff;
}</style>
   <p>
	   <h1>Code Share: Share your codes!</h1>
	   <p align=center>
	   <img width=150 src='static/The_GNU_logo.png'/>
 		<form method="GET" action="/">
		   <button name="accueil">HOME</button>
	   </form>
	   <p align=center>
	   {% if last_added %}
	   <h2>Derniers ajouts</h2>
	   {% for entry in last_added %}
	   <p><a href="/view/{{ entry["uid"] }}">{{ entry["uid"] }}"</a>
	   <p><pre>{{ entry["code"] }}</pre>
	   <table>
			<thead>
				<tr>
					<th >UID</th>
					<th >IP</th>
					<th >Navigator</th>
					<th >Created At </th>


				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ entry["uid"] }}</td>
					<td>{{ entry["ip"] }}</td>
					<td>{{ entry["navigator"] }}</td>
					<td style="width:1000px">{{ entry["timestamp"] }}</td>
				</tr>
			</tbody>
	    </table>


	   <hr/>
	   {% endfor %}
	   {% endif %}
    {{ code }}
   </body>
</html>