<!DOCTYPE html>
<html>
   <head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	   <title>Code Share: Share your codes ADMIN!</title>
   </head>
   <style>

   .home{
		background-color: red;
		padding: 10px;
		border-radius: 5px;
		color: white;
		border: none;
   }

   body{
	   margin: 20px;
   }

   .home:hover{
	   cursor: pointer;
	   opacity: 0.8;
	   transition: 0.2s;
   }
   table, td {
			border: 1px solid #333;
			text-align: center;
		}

	</style>
   <p>
	   <h1 style="text-align: center;">Code Share: Share your codes!</h1>
	  
 		<form method="GET" action="/">
		   <button class ="btn home" name="accueil"><strong>HOME</strong></button>
	   </form>
	   <p align=center>
	   {% if last_added %}
	   <h2>Derniers ajouts</h2>
	   {% for entry in last_added %}
	   <p><a href="/view/{{ entry["uid"] }}">{{ entry["uid"] }}"</a>
	   <p><pre>{{ entry["code"] }}</pre>

	   <table class = "table">
			<thead class="thead-dark">
				<tr>
					<th >UID</th>
					<th >IP</th>
					<th >Navigator</th>
					<th >Created At </th>


				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ entry["uid"] }}</td>
					<td>{{ entry["ip"] }}</td>
					<td>{{ entry["navigator"] }}</td>
					<td style="width:1000px">{{ entry["timestamp"] }}</td>
				</tr>
			</tbody>
	    </table>


	   <hr/>
	   {% endfor %}
	   {% endif %}
    {{ code }}
   </body>
</html>