<html>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<style>
        
    body{
	   margin: 20px;
   }

   .home{
		background-color: red;
		padding: 10px;
		border-radius: 5px;
		color: white;
		border: none;
   }

   .home:hover{
	   cursor: pointer;
	   opacity: 0.8;
	   transition: 0.2s;
   }
</style>
   <head>
       <title>Code Share: Share your codes!</title>
   </head>
   <body>
       <h1 style="text-align: center;">Code Share: Share your codes!</h1>
       <p><a class = "btn home" href="/">Home</a>
       {% if uid %}
       <p align=left><a href="/view/{{ uid }}">View only code: {{ uid }}</a>
       <p align=left>URL: <input name='url' value="{{ url }}">
       {% endif %}
       <p align=center>
       <form method="POST" action="/publish" enctypwe="multipart/form-data">
           <table>
            <tr>
             <td>
              <textarea name="code" rows=20 cols=100>{{ code }}</textarea><br/>
             </td>
             <td valign=top>
                 <select name="langage">
                    <option value ="HTML">HTML</option>
                    <option value ="PHP">PHP</option>
                    <option value ="JAVASCRIPT">JAVASCRIPT</option>
                    <option value ="PYTHON">PYTHON</option>
                    <option value ="C">C</option>
                    <option value ="JAVA">JAVA</option>
                </select><br>

               <input type="hidden" name="uid" value="{{ uid }}">
               <button style="margin-top: 5px;" class="btn btn-success" type="submit" name="submit" value="edit">Save</button><br>
               <button style="margin-top: 5px;" class="btn btn-warning" type="submit" name="submit" value="view">Save &amp; View</button>
             </td>
            </tr>
           </table>
       </form>
   </body>
</html>